@charset "utf-8";

@import "bourbon";
@import "base/base";
@import "neat";

////////
// overall

body {
  background-color: $background-main;
}

.container {
  @include position(absolute, 0px 0px 0px 0px);
  height: 50%;
  width: 100%;
  margin: auto;
}

.app-title {
  text-align: center;
  margin: 3em;

  h1 {
    color: $body-text;
  }
}

.song-search {
  margin: 0 auto;
  width: 80%;
  max-width: 600px;

  .search-container {
  }

  .search-button {
    @include fill-parent;
    color: $body-text;
    display: inline-block;
    background-color: darken($background-main, 20);
    text-align: center;
    padding: 0.5em;
  }
}

.lyric-container {
  width: 80%;
  margin: 0 auto;
  max-width: 600px;
}

.message {
  text-size: 2em;
  color: white;
}

.toggle-style-buttons {
  display: none;

  li {
    @include span-columns(3);
    text-align: center;

    a {
      color: $body-text;
    }
  }
}

.display-toggle {
  display: inline;
}

.sans-serif {
  font-family: $sans-serif;
}

.serif {
  font-family: $serif;
}
