---
title: Song Threads
---

<header class="app-title">
  <h1>Song Threads</h1>
</header>

<section class="song-search">
  <div class="search-container">
    <form class="search" action="#">
      <input type="text" name"song-artist-lyric">
    </form>
    <a href="#" class="search-button">
      Find Lyrics
    </a>
  </div>
</section>
