<input name="input"></input>
<div class="lyric-container">
  <p class="lyrics-p">
  </p>
<div id="target" class="message"></div>

<ul class="toggle-style-buttons">
  <li>
    <a id="sans-serif" class="sans-serif" href="#">SS</a>
  </li>
  <li>
    <a id="serif" class="serif" href="#">S</a>
  </li>
  <li>
    <a class="slab-serif" href="#">SlS</a>
 </li>
  <li>
    <a class="script" href="#">Scr</a>
  </li>
</ul>
</div>

